* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: aqua;
    font-size: 20px;
    justify-content: space-between;
    margin: 20px;
}

.menubar {
    display: flex;
    align-items: center;


}

.menu-items,.lgn,.sgn {
    border: 3px solid brown;
    display: flex;
    align-items: center;
    background-color: blueviolet;
    font-size: 20px;
    color: beige;
    border-radius: 12px;
    margin: 20px;
}

a {
    text-decoration: none;
}

a:hover,button:hover{
    background-color: orange;
    color: black;
    cursor: pointer;
}

.main-content{
    display: flex;
    justify-content: space-between;
    background-color: chocolate;
    margin: 20px;
    border: 5px solid yellowgreen;
}


.about-website{
    width: 40%;
    font-size: 20px;
    color: white;
    text-align: justify;
}
.news{
    width: 30%;
}
.login-panel{
    width: 30%;
    justify-content: space-between;
    font-size: 20px;

}
table{
    font-size: 30px;
    border: 10px solid yellow;
    border-radius: 10px;
}

#footer{
    background-color: blue;
}

#copyright{
    background-color: grey;
    height: 300px;
    margin-bottom: 50px;
}