.disp {
    display: flex;
    flex-direction: column;
    background-color: aqua;
  }
  .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .image {
    width: 100%;
    height: 300px;
    margin-bottom: 200px;
    margin-top: 50px;
    text-align: center;
  }
  button {
    background-color: blueviolet;
    color: white;
    font-size: 30px;
    margin: 10px;
    padding: 10px 20px;
  }